@{
    @using System.Xml.Linq
    @model IEnumerable<XElement>

    XNamespace ns = "http://www.yok.gov.tr/yuksekogretimegitimbilgisi/2019/10";
}
<!DOCTYPE html>
<html>

<head>
    <title>Universities</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h2>Üniversiteler</h2>
    @if (Model != null && Model.Any())
    {
        <table>
            <tr>
                <th>Birim ID</th>
                <th>Birim Adı</th>
                <th>Birim İngilizce Adı</th>
                <th>Üniversite Türü</th>
                <th>Aktiflik Durumu</th>
                <th>İl</th>
                <th>İlçe</th>
                <th>Büyükşehir</th>
                <th>Deniz Kıyısı</th>
                <th>Değişen Birim ID</th>
            </tr>
            @foreach (var node in Model)
            {
                <tr>
                    <td>@(node.Element(ns + "BirimId")?.Value)</td>
                    <td>@node.Element(ns + "BirimAdi")?.Value</td>
                    <td>@node.Element(ns + "BirimIngilizceAdi")?.Value</td>
                    <td>@node.Element(ns + "UniversiteTuru")?.Element(ns + "Ad")?.Value</td>
                    <td>@node.Element(ns + "Aktiflik")?.Element(ns + "Ad")?.Value</td>
                    <td>@node.Element(ns + "Il")?.Element(ns + "Ad")?.Value</td>
                    <td>@node.Element(ns + "Ilce")?.Element(ns + "Ad")?.Value</td>
                    <td>@node.Element(ns + "Buyuksehir")?.Element(ns + "Ad")?.Value</td>
                    <td>@node.Element(ns + "DenizKiyisi")?.Element(ns + "Ad")?.Value</td>
                    <td>@node.Element(ns + "DegisenBirimId")?.Value</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Üniversite bilgisi bulunamadı.</p>
    }
</body>

</html>